<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
</head>
<body>
	<!-- This is template
	data of list {{data1}}<br>

	{% if 'n' in data3 %}
	my name is neha
	{% else %}
	my name is ram
	{% endif %} -->

	<!-- {% for x in data1 %}
	<li>python{{x}}<br></li>
    {% endfor %}
    
    <ol>
    {% for x in data1 %}
	<li>python{{x}}<br></li>
    {% endfor %}
    </ol>

<table border=1>
	{% for x in data1 %}
	<tr>
	<td>python{{x}}<br></td>
</tr>
    {% endfor %}
</table>
 -->

 <!-- {% for x in data2 %}
 <li>python{{x}}<br></li>
 {% empty %}
 no operation performed
 {% endfor %} -->

	    <!-- {% if var3 == "nehasutay" %}
		my name is neha
		{% else %}
		my name is ram
		{% endif %}

    {% comment 'personal info' %}
    this is comment{{data1}}
    {% endcomment %} -->

		<!-- {% firstof var1 var2 var3 %}

	{% lorem %}

	{% lorem 3p %} -->

	<!-- It is {% now "D d M Y" %} -->

		{{data1|length|add:"5"}}
		{{data1|length}}
		{{var3|upper}}
		{{data3|addslashes}}
		{{var3|capfirst}}
		"{{var3|center:"15"}}"
		{{data3|cut:" "}}
		{{var1|date:"D d M Y"}}
		{{data2|default:"nothing"}}
		{{var1|divisibleby:"3"}}
		{{var2|filesizeformat}}
		{{data1|first}}
		{{data1|last}}
		{{var4|join:"//"}}
		{{var3|linenumbers}}
		{{var5|lower}}
		{{var3|make_list}}
		{{data3|slugify}}





</body>
</html>